<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/style_header.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style_body.css"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%include ./includes/navbar%>
	<div class="inscription-page">
		<div class="left-menu-bar">
			
		</div>
		<div class="right-user-form">
			<form class="inscription-form" id="formRegister">
				<h2><%= pageH1 %></h2>
				<p class="warning-error" id="warning-error"></p>
				<div class="user-form-inner-wrapper">
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-prenom"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="firstName"><%= labelFirstName %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="text" placeholder="<%= labelFirstName %>" name="firstName" id="firstName" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-nom"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="lastName"><%= labelLastName %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="text" placeholder="<%= labelLastName %>" name="lastName" id="lastName" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-email"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="email"><%= labelEmail %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="text" placeholder="<%= labelEmail %>" name="email" id="email" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-birth"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="birthDate"><%= labelBirthDate %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="date" name="birthDate" id="birthDate" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-civility"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="selectCivility"><%= labelCivility %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du select -->
								<select name="idCivility" id="selectCivility" class="form-control" required>

								</select>
							</div>
						</div>
					</div>
					<div class="wrapper-announce-address">
						<h4><%= subTitleAddress %></h4>	
					</div>
					<hr>
					<div class="wrapper-row wrapper-address">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-address"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-left-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="street"><%= labelStreet %>* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="street" class="form-control" placeholder="<%= labelStreet %>" required/>
								</div>
							</div>
							<div class="wrapper-right-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="noApp"><%= labelAppartment %></label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="noApp" class="form-control" placeholder="<%= labelAppartment %>" />
								</div>
							</div>
						</div>
						<div class="wrapper-label-input wrapper-under-address"> <!-- Une ligne -->
							<div class="wrapper-left-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="postalCode"><%= labelPostalCode %>* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="postalCode" class="form-control" required placeholder="<%= labelPostalCode %>" />
								</div>
							</div>
							<div id="wrapperCivic" class="wrapper-right-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="noCivic"><%= labelCivicNo %>*</label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<input type="text" id="noCivic" class="form-control" placeholder="<%= labelCivicNo %>" required/>
								</div>
							</div>
						</div>
						<div id="wrapperLocation" class="wrapper-label-input wrapper-under-address"> <!-- Une ligne -->
							<div class="wrapper-left-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="idCountry"><%= labelCountry %>* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<select name="idCountry" id="idCountry" class="form-control" required>
									</select>
								</div>
							</div>
							<div class="wrapper-right-address">
								<div class="wrapper-label"> <!-- wrapper du label -->
									<label for="idProvince"><%= labelProvince %>* </label>
								</div>
								<div class="wrapper-input"> <!-- wrapper du input -->
									<select name="idProvince" id="idProvince" class="form-control" required>

									</select>
								</div>
							</div>
						</div>
					</div>
					<hr id="bottomHr">
					<div class="wrapper-label-input wrapper-trouble-total"> <!-- Une ligne -->
						<div class="wrapper-label"> <!-- wrapper du label -->
							<label><%= labelTrouble %>: </label>
						</div>
						<div class="wrapper-input"> <!-- wrapper du div select -->
							<div class="select-trouble">
								<div class="wrapper-check-label" id="wrapper-check-label">

								</div>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-password"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="password"><%= labelPassword %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="password" name="password" id="password" class="form-control" required/>
							</div>
						</div>
					</div>
					<div class="wrapper-row">
						<div class="wrapper-error-label">
							<p class="error-input" id="error-confirmPassword"></p>
						</div>
						<div class="wrapper-label-input"> <!-- Une ligne -->
							<div class="wrapper-label"> <!-- wrapper du label -->
								<label for="confirmPassword"><%= labelConfirmPassword %>* </label>
							</div>
							<div class="wrapper-input"> <!-- wrapper du input -->
								<input type="password" name="confirmPassword" id="confirmPassword" class="form-control"  required/>
							</div>
						</div>
					</div>
					<div id="wrapper-infolettre" class="wrapper-label-input"> <!-- Une ligne -->
						<div class="wrapper-label"> <!-- wrapper du label -->
							<label for="newsletter"><%= labelSubscribeNewsletter %>: </label>
						</div>
						<div class="wrapper-input infolettre"> <!-- wrapper du input -->
							<div class="sub-wrapper-chck"> <!-- wrapper du input -->
								<input type="checkbox" name="newsletter" id="newsletter" checked="" />
							</div>
							<div class="sub-wrapper-lbl">
								<label for="newsletter"><%= labelISubscribe %></label>
							</div>		
						</div>
					</div>
					<div class="wrapper-submit"><input type="submit" class="btn btn-success" value="<%= labelComplete %>"></div>
			</div>
			</form>
			
		</div>
	</div>

	<script src="./javascript/loadCountries.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		let firstName = $("#firstName");
		let lastName = $("#lastName");
		let email = $("#email");
		let birthDate = $("#birthDate");
		let selectCivility = $("#selectCivility");
		let password = $("#password");
		let confirmPassword = $("#confirmPassword");
		let newsletter = $("#newsletter")[0];
		let street = $("#street");
		let noApp = $("#noApp");
		let postalCode = $("#postalCode");
		let noCivic = $("#noCivic");
		let idCountry = $("#idCountry");
		let idProvince = $("#idProvince");

		let allCountriesList;


		$("#formRegister").on("submit",registerUser);

		//Adds the user to the database
		function registerUser(e)
		{
			e.preventDefault();

			resetInputError();

			if(isFormValid())
			{
				$.ajax({
					url: "http://localhost:8081/ajaxRequest/userRegister",
					method: "POST",
					data:{
						firstName:firstName.val(),
						lastName:lastName.val(),
						email:email.val(),
						birthDate:birthDate.val(),
						idCivility:selectCivility.val(),
						password:password.val(),
						newsletter:newsletter.checked,
						conditionsCheckbox: getCheckedConditions(),
						street: street.val(),
						noApp: noApp.val(),
						postalCode: postalCode.val(),
						noCivic: noCivic.val(),
		 				idCountry: idCountry.val(),
		 				idProvince: idProvince.val()
					},
					success: function(responseCode){
						resetGeneralError();

						if(responseCode == 1){ //The user has been added
							document.location.href = "./userConnection?newAccount=true"
						}
						else if(responseCode == 2){ //An error occured while adding the user
							$("#warning-error").html("<%= errWhileAddUser %>");
						}
						else if(responseCode == 3){ //The email already exists in the db
							$("#error-email").html("<%= errSameEmail %>");
						}

						
					}
				});		
			}


		}

		function resetGeneralError()
		{
			$("#warning-error").html("");
		}

		//Loads and displays the civilities
		function loadCivilities(_callback)
		{
			$.ajax({
				url: "http://localhost:8081/ajaxRequest/getCivilities",
				method: "POST",
				success: function(response){
					$("#selectCivility").html(response);
				}
			});		
		}


		let firstNamePattern = /^(?=.{1,50}$)[a-zÀ-ÿ]+(?:['_.\s][a-zÀ-ÿ]+)*$/i;
		let lastNamePattern = /^(?=.{1,50}$)[a-zÀ-ÿ]+(?:['_.\s][a-zÀ-ÿ]+)*$/i;
		let emailPattern =  /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
		let passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;

		function isFormValid()
		{
			let isValid = true;

			if(firstName.val().match(firstNamePattern) == null){
				$("#error-prenom").html('<%= errValidFirstName %>');
				isValid = false;
			}

			if(lastName.val().match(lastNamePattern) == null){
				$("#error-nom").html('<%= errValidLastName %>');
				isValid = false;
			}

			if(email.val().match(emailPattern) == null)
			{
				$("#error-email").html("<%= errValidEmail %>");
				isValid = false;
			}

			if(password.val().match(passwordPattern) == null){
				$("#error-password").html("<%= errValidPassword %>");
				isValid = false;
			}
			else{
				if(password.val() != confirmPassword.val()){
					$("#error-confirmPassword").html("<%= errConfirmPassword %>");
					isValid = false;
				}
			}

			return isValid;
			
		}


		function resetInputError()
		{
			for(let i = 0;i < $(".error-input").length;i++)
			{
				$(".error-input").eq(i).html("");
			}
		}


		function loadConditions()
		{
			$.ajax({
				url: "http://localhost:8081/ajaxRequest/getConditions",
				method: "POST",
				data:{
					firstName:firstName.val(),
				},
				success: function(htmlConditions){
					resetGeneralError();
					$("#wrapper-check-label").html(htmlConditions)
				}
			});		
		}


		loadCivilities();
		loadConditions();
		loadAllCountries();
		//Gets the checked conditions and
		//puts them in an array for the backend
		function getCheckedConditions()
		{
			let troubleCheckbox = $(".trouble-checkbox");
			let checkedConditionsArray = [];

			for(let i = 0;i < troubleCheckbox.length;i++)
			{
				if(troubleCheckbox[i].checked){
					checkedConditionsArray.push(troubleCheckbox[i].getAttribute("data-id"));
				}
			}

			return checkedConditionsArray;
		}


	</script>
		<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>