<!-- Navbar du site web -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascript/lang.js"></script>
<script>
    $(function() {
        $('#serumBanner').hide().delay(3000).slideDown(1000);
    });
</script>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index"><img src="./images/logo.png" alt="Logo de l'entreprise" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="wrapper-links-t">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-link-current" href="index">
                        <%=home%>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="catalogue">
                        <%=products%>
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=face%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <%=facenettoyants%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facemasque%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facecontour%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=faceoleoserum-%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facelotions%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facehydrolats%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facetrios%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facehuilevegetale%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facehuileessentielle%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facesoinssolaires%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facesoinsantiage%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facemaquillage%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facebaume%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=facehuilemoringa%>
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=corps%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <%=corpsbeurredouceur%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpsbaume%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpshuiledouceur%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpshuilevergeture%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpssavon%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpscoffrets%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpssoinsmains%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpsbeurrekarite%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=corpsgel%>
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=peau%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <%=peaujeune%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peausensible%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peauseche%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peaugrasse%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peauacneique%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peaudeshydratee%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peaucellulite%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peaumixte%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peaureactive%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=peautaches%>
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=consult%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <%=consultaromatherapie%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=consultdermoco%>
                        </a>
                        <a class="dropdown-item" href="serum">
                            <%=consultserum%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=consultskype%>
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=form%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <%=formaromatherapie%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=formhiver%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=formhuiles%>
                        </a>
                        <a class="dropdown-item" href="#">
                            <%=formcosmetique%>
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%=propos%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <%=proposfaq%>
                        </a>
                        <a class="dropdown-item" href="contactus">
                            <%=proposcontact%>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-right-wrapper">
            <div class="header-bottom-wrapper">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" id="research">
                    <button class="btn btn-search my-2 my-sm-0" type="submit"></button>
                </form>
            </div>
            <div class="header-middle-wrapper">
                <a href="./userConnection" title="Connexion"><img src="./images/icons/account.png" /></a>
                <a href="#" id="cartLink"><img src="./images/icons/cart.png" /></a>
            </div>
            <div class="header-top-wrapper">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Langue
						</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="lang-dropdown">

                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
<div id="serumBanner" class="navbar-serum">
    <p>
        <%=banner%>
            <a href="serum">
                <%=banner2%>
            </a>
    </p>
</div>
<div id="cartWrapper" class="cartWrapper">
    <!-- sidebar cart -->
    <div class="cartInnerWrapper">
        <div class="cartTopWrapper">
            <div class="cartWrapperTopTitle">
                <a href="#" id="closeCartLink"><img src="./images/icons/cartCloseIcon.svg" class="closeCartIcon" id="closeCartIcon" /></a>
                <h2><%= cartTitle %></h2>
            </div>
        </div>
        <div class="cartUnderTopWrapper">
            <div class="cartContentWrapper" id="cartContentWrapper">

            </div>
        </div>
        <div class="cartBottomWrapper">
            <div class="cart-subTotal">
                <p><%= cartSubTotal %>: <span id="cartSubTotal">0$</span></p>
            </div>
            <div class="cart-payButton">
                <a href="./paymentPage" title="passer au paiement" id="cartPayLink"><%= cartToPayment %></a>
            </div>
        </div>
    </div>
</div>
<div id="fullPageOverlay" class="fullPageOverlay"></div>
<div id="popup">
    <!-- Popup -->
    <div class="wrapperLogoPopup"><img src="./images/logoApp.png" /></div>
    <p id="popupMessage"></p>
</div>
<div id="clientChat">
    <div id="chatTopbar">
        Discussion instantannée
    </div>
    <div id="chatBody">
        <div id="chatBodyStartDiscussion">
            <div class="chat-labelInput-wrapper">
                <label>Nom</label>
                <input type="text" id="startInputName" placeholder="Entrez votre nom" class="form-control"/>
            </div>
            <div class="chat-labelInput-wrapper">
                <label>Message/Question</label>
                <textarea class="form-control" id="startMessage"></textarea>
            </div>
            <button id="btnStartChat" type="button" class="btn btn-success">Commencer</button>
        </div>
        <div id="chatBodyDiscussion">
            
        </div>
    </div>
</div>
<style>
    #clientChat{
        width:20vw;
        min-width:300px;
        position: fixed;
        z-index:999;
        right:0;
        bottom:0;
        margin-right:20px;
        font-size:20px;
        text-align: center;
    }

    #clientChat.opened #chatBody{
        max-height:500px;
        border-left:1px solid #453F3F;
        border-right:1px solid #453F3F;
    }

    #chatBody{
        max-height:0;
        transition-duration: 0.1s;
    }

    #chatTopbar{
        background-color:#453F3F;
        color:white;
        cursor: pointer;
    }

    #chatBodyStartDiscussion{
        background-color:white;
        padding:10px;
    }

    .chat-labelInput-wrapper{
        display: flex;
        flex-direction: column;
        margin-top:15px;
        margin-bottom:15px;
    }

    #chatBodyStartDiscussion button{
        margin-top:30px;
        margin-bottom: 40px;
    }
</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="javascript/chat.js"></script>
<script src="javascript/popup.js"></script>
<script>
   const lblCartQty = "<%= lblCartQty %>";
   const lblCartQtyTooMuch = "<%= lblCartQtyTooMuch %>";
   const lblCartEmpty = "<%= lblCartEmpty %>";
   const lblCartCantSmallerOne = "<%= lblCartCantSmallerOne %>";
   const lblCartCantBiggerStock = "<%= lblCartCantBiggerStock %>";
   const lblCartItemAdded = "<%= lblCartItemAdded %>";
   const lblCartItemAlready = "<%= lblCartItemAlready %>";
   const lblCartMustBeConnected = "<%= lblCartMustBeConnected %>";
</script>
<script src="./javascript/sidebarCart.js"></script>